################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BT_CodeFirst_QuanLyQuanCafe/.vs
